:local(.styles) {

    h1  {
        font-weight: 100;
    }

    .content {
        margin: 15px;
    }

    .logo {
        a {
            font-weight: bold;
        }
    }

    .siteTitleHeader {
        color: #1d2120;
        font-weight: 300;
    }

    .siteSubTitleHeader {
        color: #5a5c51 !important;
    }

    .header
    {
        margin: 25px;

    }

}
